<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champions on the World’s Biggest Stage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- <h1 class="head-one"> Hello {{dataToRender[0]}}, {{dataToRender2}} </h1> -->

    <header class="my-header"> 
        <div class="title"> 
            <h2> <a href="{{ url_for('home')}}"> CSCI 4370 Term Project </a> </h2> 
        </div>
        <div> 
            <img class="olympics-logo" src="../static/assets/olympics_logo.png"> 
        </div>

        <div class="moving-flags"> 
            
        </div>
        
        
    </header>

    <div class="parent-container">

        <div class="child-one"> 
            <div> 
                <div class="introduction-section"> 
                    
                    <div> 
                        <h1> <b> Champions on the World's Biggest Stage </b> </h1>

                    </div>

                    <div> 
                        <h2> Trends, Stories, and Triumphs  from 120 years of Olympic History. </h2>

                    </div>
                    <!-- <p> This is where the introduction to our project will go </p> -->
                    
                </div>
                <div> 
                    <!-- <p> Diving into 120 years of Olympic history, we're exploring how athlete physiques and performances have evolved, how global events like the World Wars and the Cold War have influenced the games, and what factors drive national rivalries. Using Python and MySQL for data crunching and Flask with HTML and CSS, we aim to offer fresh insights into the Olympics, beyond just medal counts and championships. 
                        Join us on this unique analytical journey through sports history!</p> -->
                </div>
            </div>

            <!-- <div> 
                <p> (intro) </p>
                
            </div> -->

            
        </div>

        <div class="child-two"> 
            
            <div class="buttons-section"> 
                <button class="button-1"> <a href="{{ url_for('query1')}}"> Query 1 </a> </button>
                <button class="button-2"> <a href="{{ url_for('query2')}}"> Query 2 </a> </button>
            </div>

            <div class="buttons-section"> 
                <button class="button-3"> <a href="{{ url_for('query3')}}"> Query 3 </a> </button>
                <button class="button-4"> <a href="{{ url_for('query4')}}"> Query 4 </a></button>
            </div>

        </div>

    </div>
</body>
</html>